.footer {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 2rem 0;

    h4,
    h5 {
        color: var(--white-color);
        font-weight: bold;
    }

    p {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-align: justify;
    }

    .container-fluid {
        .row {
            margin: 0;
            padding: 0;
            align-items: center;

            .col-md-4 {
                padding: 1rem;
            }
        }
    }

    .text-center {
        color: var(--white-color);
    }
    .container {
        svg {
            margin-right: 10px !important;
        }
    }
}
