.navbar {
    position: fixed; // Makes the navbar fixed to the top
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    font-family: 'Poppins Regular', sans-serif;

    .logo {
        height: 70px;
    }

    #input {
        opacity: 1 !important;
        background-color: var(--white-color);
        &:focus {
            box-shadow: none !important;
            border: solid 1px var(--primary-color);
        }
    }
    .container-fluid {
        a {
            &:hover {
                span {
                    color: var(--primary-color);
                    transition: 0.2s ease-in-out;
                }
            }
        }
        .inputCol {
        }
        .linksCol {
            .linksContainer {
                width: 100%;
                display: flex;
                justify-content: end;
                flex-direction: row;
            }
        }
    }
}
