.cardsInHomePage {
}

.slick-slider {
  width: 100%;
  height: 400px;
}

.slick-slide {
  margin: 0;
}

.slick-slide img {
  width: 100%;
  height: 100%;
}

.slick-prev,
.slick-next {
  display: block !important;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu nền để dễ nhìn */
  color: rgb(27, 27, 27);
  /* Màu cho các mũi tên */
  border-radius: 50%;
  /* Tạo hình tròn cho nút */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: -60px;
  /* Điều chỉnh vị trí của nút trái */
}

.slick-next {
  right: -60px;
  /* Điều chỉnh vị trí của nút phải */
}
